* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #b65282;
}

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #1D2125;
    max-height: 100px;
    padding: 5px 10px;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-item a {
    font-size: 14px;
    font-weight: 500;
    color: #9FADBC;
    text-decoration: none;
}

.nav-item button {
    width: 60px;
    height: 25px;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    color: #1D2125;
    background-color: #579DFF;
    cursor: pointer;
}

.nav-item input {
    width: 208px;
    height: 25px;
    background-color: #22272B;
    color: #8C9BAB;
    border: #A6C5E229 16%;
}

.desk-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #884365;
    gap: 10px;
    padding: 12px 16px;
}

.desk-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.desk {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.desk-item button {
    font-size: 14px;
    font-weight: 500;
    color: #172B4D;    
    width: 106px;
    height: 32px;
    padding: 0px 12px 0px 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.filter {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.card-box {
    display: flex;
    margin: 12px 10px;
    gap: 12px;
}

.card-item {
    width: 272px;
    height: 130px;
    max-height: 531px;
    border-radius: 12px;
    background-color: #101204;
    padding: 14px 10px;
}

.card-item:nth-child(3) {
    height: 90px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
}

.info p {
    font-size: 14px;
    font-weight: 600;
    color: #B6C2CF;
}

.main-part {
    max-width: 300px;
    min-height: 20px;
    border-radius: 8px;
    background-color: #22272B;
    font-size: 14px;
    font-weight: 400;
    color: #B6C2CF;
    padding: 8px 12px;
}

.add-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.add {
    display: flex;
    align-items: center;
    gap: 7px;
}

.add p {
    font-size: 13px;
    font-weight: 400;
    color: #9FADBC;
}

.add-more {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 256px;
    height: 45px;
    min-height: 32px;
    padding: 8px;
    border-radius: 12px;
    background-color: #FFFFFF3D;
}

.add-more p {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
}